<div class="ui-container">
  <!--
      [dataFields]="lmDomain.dataFields$ | async"
      (routeChanged)="routeChanged()"
      (sectionStateChanged)="sectionStateChanged($event)"
      (ready)="store = $event"
      (stateChange)="stateChange($event)"
      (complete)="complete()"
  -->
  <nts-wizard-nav-top [store]="store" *ngIf="store"></nts-wizard-nav-top>
  <nts-wizard wizardId="wiz-demo" [form]="formGroup" [sections]="sections" [pages]="pages" [routes]="routes" (ready)="store = $event"> </nts-wizard>
</div>
