<div class="ui-container">
  <!--
      [dataFields]="lmDomain.dataFields$ | async"
      (routeChanged)="routeChanged()"
      (sectionStateChanged)="sectionStateChanged($event)"
      (ready)="store = $event"
      (stateChange)="stateChange($event)"
      (complete)="complete()"
  -->
  <div style="min-height: 90px">
    <nts-wizard-nav-top [store]="store" *ngIf="store"></nts-wizard-nav-top>
  </div>
  <p-card>
    <div class="p-3">
      <nts-wizard [form]="formGroup" [sections]="sections" [pages]="pages" [routes]="routes" (ready)="store = $event"> </nts-wizard>
    </div>
  </p-card>
</div>
