@import 'variables';
@import 'mixins';

:host {
  display: block;
}

.nav-component {
  .menu-link {
    padding: 0.857rem;
    color: #333;
    border-radius: 3px;
    transition: background-color 0.2s, box-shadow 0.2s;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    &:hover {
      background: #eaeaea;
    }
  }
  // Fix dropdown menu
  .p-slidemenu {
    .p-slidemenu-content {
      height: initial !important;
      overflow: initial !important;
    }
    .p-slidemenu-rootlist {
      position: initial !important;
    }
  }
  .p-menubar {
    border: 0;
    border-radius: 0;
  }
  .p-menubar-custom {
    padding-top: 0.75em;
    a {
      padding: 0.714em 0.857em;
    }
  }
  .p-button.p-button-text-icon-left .p-button-text {
    padding: 0.25em 1em 0.25em 2em;
  }
  // Mobile flyout menu
  .p-menu {
    border: 0;
    width: 100%;
  }
  .p-state-active {
    background-color: #eaeaea;
  }
}

.mobile-menu {
  display: block;

  @include lg-up() {
    display: none;
  }
}

.main-menu {
  display: none;

  @include lg-up() {
    display: block;
  }
}
