<p-menubar [model]="navMenu" class="main-menu">
  <ng-container *ngIf="hasUpdate$ | async as hasUpdate">
    <button class="btn btn-primary" type="button" icon="fas fa-exclamation-triangle" (click)="updateApp()">
      <fa-icon icon="exclamation-triangle" class="me-2"></fa-icon>
      Update Available
    </button>
  </ng-container>
  <p-slideMenu #menu [model]="utilityMenu" [popup]="true" [viewportHeight]="utilityMenu.length * 70"></p-slideMenu>
  <a label="Show" (click)="menu.toggle($event)">
    <fa-icon icon="user" class="me-2"></fa-icon> <span class="me-2">{{ userName$ | async }}</span>
    <fa-icon icon="caret-down"></fa-icon>
  </a>
</p-menubar>
<div class="pt-2 float-end mobile-menu">
  <a (click)="sidebarVisible = true" class="p-2">
    <fa-icon icon="bars" class="me-2 fa-lg"></fa-icon>
  </a>
</div>

<p-sidebar [(visible)]="sidebarVisible">
  <p-menu [model]="navMenu"></p-menu>
  <hr />
  <p-menu [model]="utilityMenu"></p-menu>
</p-sidebar>
